body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-style: solid;
    align-self: center;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.party {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: salmon;
    padding: 15px;
}

.members {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

.dale,
.bryce,
.q,
.viscera,
.acky {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: solid;
    padding: 15px;

}


span {
    border-style: solid;
    background-color: aqua;
    width: 100px;
    height: 100px;
}